<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OrdenesDeRetiroApp.Properties.Settings.db_ordenesConnectionString"
            connectionString="Data Source=DESKTOP-35MIDJI\SQLEXPRESS;Initial Catalog=db_ordenes;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>